body {
    background-color: #fff4e6;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.contenedor-img {
    background-image: url('https://e8cuz2bphm9.exactdn.com/blog/wp-content/uploads/2020/04/BlogMG07462.jpg?strip=all&lossy=1&quality=75&ssl=1');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #6d5959;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

input[type="text"],
input[type="number"] {
    margin-bottom: 20px;
    padding: 10px;
    margin-right: 10px;
    border-color: #ff8000;
    border-radius: 5px;
    font-size: 16px;
    width: 150px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ffac33;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff8000;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th {
    background-color: #ffac33;
    color: #fff;
    padding: 12px;
    text-align: center;
}

td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tbody tr:last-child td {
    border-bottom: none;
}

tbody tr:hover {
    background-color: #f5f5f5;
}
